
/*
Dark: #12232E

*/

/* Default overrides */

html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    width: max(100vw, 1000px);
    height: max(100vh, 500px);
    background-color: #005270;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* General Purpose */

.centre {
    text-align: center;
    font-weight: normal;
}

.axis {
    font-size: 16px;
}

/* Company Bar */

#company_bar {
    float: left;
    padding: 16px;
    width: 432px;
    height: 100%;
    background-color: #12232E;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: width 0.25s;
}
@media (max-width: 1200px) {
    #company_bar {
        width: 272px;
    }
}
#company_bar::-webkit-scrollbar {
    display: none;
}

.company_card {
    padding: 16px 16px;
    width: calc(100%);
    border-bottom: 1px solid #EEFBFB;
    overflow: hidden;
}
.company_card:hover {
    background-color: #203647;
}

.salary {
    padding-left: 10px;
}
.salary, .equality {
    background-color: #00425a;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    border-radius: 3px;
}

.company_card .top {
    width: 368px;
    height: 32px;
}
.company_card .top * {
    display: inline-block;
    height: 32px; /* In-line with 32x32 image */
    line-height: 32px;
    margin-right: 16px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.company_card .top .logo     { width: 32px;  }
.company_card .top .title    { width: 160px; cursor: pointer; }
.company_card .top .salary   { width: 96px;  cursor: pointer; }
.company_card .top .equality { width: 32px;  cursor: pointer; margin-right: 0; text-align: center; }

.company_card .expand {
    width: 368px;
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
    transition-delay: 0.2s;
}
.company_card .expand.active {
    margin-top: 16px;
    width: 368px;
    height: 50px;
}

/* Insight Bar */

#insight_bar {
    float: right;
    padding: 32px;
    width: calc(100% - 432px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
@media (max-width: 1200px) {
    #insight_bar {
        width: calc(100% - 272px);
    }
}

#insight_bar > * {
    width: 100%;
    background-color: #EEFBFB;
    color: #12232E;
}
#insight_bar > .title {
    padding: 8px;
    background-color: #12232E;
    color: #EEFBFB;
}
#insight_bar > .title > * {
    float: left;
    margin-right: 16px;
    height: 32px;
    line-height: 32px;
}
#insight_bar > .title > .right {
    float: right;
}
#insight_bar > .header {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    text-align: center;
    color: #12232E;
}

#job_select {
    display: flex;
}

#insight_bar > .header {
    padding: 30px 20% 10px 0%;
}

/* Pie Chart */

#job_pie {
    float: left;
    padding: 0;
    width: 50%;
}

.pie_segment {
    transition: transform 0.5s, filter 0.5s;
    cursor: pointer;
    stroke: white;
}

.pie_segment:hover {
    transform: scale(1.1);
    filter: brightness(1.25);
}

/* Job List */

#joblist {
    padding: 10px 5px;
    width: 50%;
    overflow-y: scroll;
}

#joblist > .job_entry {
    margin: 5px 0;
    color: #005270;
    cursor: pointer;
}
#joblist > .job_entry:hover {
    filter: brightness(1.25);
}

/* Breakdown */

#breakdown_header {
    padding-top: 50px !important;
}

#breakdown_section {
    width: 100%;
}

#breakdown_left {
    float: left;
    width: 50%;
}

#breakdown_right {
    float: right;
    width: 50%;
}

#yoe_bar {
    padding: 0;
    width: 100%;
}

#education_pie {
    padding: 0;
    width: 100%;
}
