
/* Default overrides */

html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #005270;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

/* Company Bar */

#company_bar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
    width: 432px;
    height: 100%;
    background-color: #12232E;
    overflow-y: scroll;
    overflow-x: hidden;
}
#company_bar::-webkit-scrollbar {
    display: none;
}

.company_card {
    padding: 16px 16px;
    width: 400px;
    border-bottom: 1px solid white;
}
.company_card:hover {
    background-color: #203647;
}

.company_card * {
    display: inline-block;
    height: 32px; /* In-line with 32x32 image */
    line-height: 32px;
    margin-right: 16px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
}
.company_card .logo     { width: 32px;  }
.company_card .title    { width: 160px; cursor: pointer; }
.company_card .salary   { width: 96px;  cursor: pointer; }
.company_card .equality { width: 32px;  cursor: pointer; margin-right: 0; text-align: center; }

/* Insight Bar */

#insight_bar {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 432px);
    height: 100%;
}
